/*
File: attendanceHistory.css
Author: Eunice Ban
Description: Styling for attendance history function
Date Last Modified: June 28, 2014
*/

#attendanceHistoryContent{
	margin-top:0;
	border-style:hidden;	
}
	
#attendanceHistoryTable{
    display:none;
	margin:1em;
	border-collapse: collapse;
	margin-left:5%;
	margin-right:5%;
    overflow: scroll;
}

#attendanceHistoryTable .style2{
    background-color: #eee;
}

.HistoryTable { 
	padding: .3em; 
	border: 1px #ccc solid; 
	width:40em;
	text-align:center;
}

#tableheader{
	background-color: 	#89B9DF;
}

.noHistoryData {
    text-align: center;
    font-style: italic;
    background-color: #ddd;
    padding: 3px;
    border-radius: 5px;
}

#AttendanceHistoryNoConnectivity {
    background-color: #A00;
    color: #FFF;
    text-align: center;
    display: none;
    padding: 2px;
    text-shadow: none;
	border-radius: 5px;
}

#AttendanceHistoryNoConnectivity p{
	padding: 0px;
	text-shadow: -1px 1px #888;
	margin: 1.5px;
	color: #FFF;
}