/*
File: attendance.css
Author: Shawn Dhawan
Description: Styling for attendance check in function
Date Last Modified: July 24, 2014
*/

.checkinStatus{
	text-align: center;
	border-radius: 5px;
	padding: 0.5px;
}

.checkinStatus p{
	padding: 0px;
	text-shadow: -1px 1px #888;
	margin: 1.5px;
	color: #FFF;
}

#attendanceWrongPin{
	display:none;
	background-color: #ff7c7c;
	border: 2px solid red;
	margin-bottom:2px;
}

#attendanceStatusCheckedIn, #attendanceLastStatus{
	border:2px solid black;
	background-color:#888;
}

#attendanceStatusLocked{
	background-color: #ff7c7c;
	border: 2px solid red;
}

#attendanceStatusUnlocked{
	background-color: #6ec26e;
	border: 2px solid green;
}

#inputDATA {
    text-align: center;
    font-size: 1.5em;
}

#AttendanceNoConnectivity {
    background-color: #A00;
    color: #FFF;
    text-align: center;
    padding: 2px;
    text-shadow: none;
    display: none;
    margin-bottom: 5px;
}